body{
    margin: 0px;
    padding: 0px;
    background:linear-gradient(90deg, #00d2ff 0%,#3a7bd5 100% );
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 15px;
}
.white-backgrown{
    height: 350px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.rectangle-card {
    height: 500px;
    width: 950px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px gray;
}
.image-container{
    width: 450px;
    height: 450px;
    margin: 25px 0 0 25px;
    border-radius: 20px;
}

.info{
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.hello-message{
    font-size: 30px;
    color: #00d2ff;
}
.name{
    margin-top: -66px;
    font-size: 75px;
    font-weight: bold;
}
.major-container{
    margin-top: -65px;
    font-size: 27px;
    color: #00d2ff;
}
.icons-container{
    background-color: #3a7bd5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 1px;

}
.icons-container img{
    width: 25px;
    height: 25px;
    padding-top: 2px;
}
.linkedin{
    background-color: red;
}
