body{
    margin: 0px;
    padding: 0px;
    background:linear-gradient(90deg, #00d2ff 0%,#3a7bd5 100% );
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
h1{
    color: white;
    font-size: 2.66vw;
    margin-left: 1.33vw;
    margin-top: 1vw;
}

.white-backgrown{
    height: 40%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rectangle-card {
    height: auto;
    width: 70%;
    background-color: white;
    position: absolute;
    border-radius: 1.33vw;
    top: 24vw;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.rectangle-card:hover{
    background:linear-gradient(90deg,whitesmoke 0%,white 100% );
}
.image-container{
    width: 48%;
    height: auto;
    margin: 2% 0 1.5% 2%;
    border-radius: 1.33vw;
}

.info{
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.hello-message{
    font-size: 2vw;
    color: #00d2ff;
}
.name{
    margin-top: -6.7vw;
    font-size: 6.4vw;
    font-weight: bold;
}

.major-container{
    margin-top: -6.2vw;
    font-size: 1.78vw;
    color: #00d2ff;
    margin-bottom: 2.5vw;
}
.icons-container{
    margin-top: -1vw;
}

img{
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    background-color: #3a7bd5;
    border: none;
    margin: 0 0.3vw 0 0;
}

img:hover{
    background-color:green
}

.linkedin{
    background-color: #0074b1;
}
.facebook{
    background-color: #4064ae;
}
.youtube{
    background-color: red;
}
.gitHub{
    background-color: #5c6bc0;
}




